<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestAPIClient.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="AccountRef" value="EX0224195" />
      <add key="RestUsername" value="ronnie.lawson+induction@esendex.com" />
      <add key="SecretDirectory" value="C:\secrets\" />
      <add key="BaseRestAPI" value="https://api.esendex.com" />
      <add key="AuthenticationEndpoint" value="/v1.0/session/constructor" />
      <add key="MessageSendEndpoint" value="/v1.0/messagedispatcher" />
      <add key="MessageStatusEndpoint" value="/v1.0/messageHeaders" />
      <add key="MessageINboxEndpoint" value="/v1.0/inbox/messages  " />
    </appSettings>
</configuration>
