<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AccountRef" value="EX0224195" />
    <add key="RestUsername" value="ronnie.lawson+induction@esendex.com" />
    <add key="SecretDirectory" value="C:\secrets\" />
    <add key="BaseRestAPI" value="https://api.esendex.com" />
    <add key="AuthenticationEndpoint" value="/v1.0/session/constructor" />
    <add key="MessageSendEndpoint" value="/v1.0/messagedispatcher" />
    <add key="MessageStatusEndpoint" value="/v1.0/messageHeaders" />
    <add key="MessageInboxEndpoint" value="/v1.0/inbox/messages  " />
  </appSettings>
</configuration>